body {
    background-image: url("noticias.png");

}

button {
    background-color: black;
    color: white;
    margin-left: 0;
    font-size: 25px;
}


h4 {
    color: white;
    text-align: center;
    background-color: red;
    font-size: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    text-decoration-color: yellow;
    text-decoration-thickness: 2px;
    text-decoration-style: ridge;
}


p {
    color: white; /*esto me da color al párrafo*/
    text-align: left;
    text-shadow: black 2px 2px 4px;
    font-size: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}