body {
    background-image: url("fondofutbol.png"); 

    h1 {
        color: white;
        text-align: center;
        background-color: yellow;
        font-size: 50px;
        font-family: "Arial Black", Gadget, sans-serif;
        text-shadow: 2px 2px 4px #000000;
        text-decoration: underline;
        text-decoration-color: red;
        text-decoration-thickness: 2px;
        text-decoration-style: wavy;
                    }
    h3 {
        color: white;
        text-align: center;
        background-color: blue;
        font-size: 30px;
        font-family: "Arial Black", Gadget, sans-serif;
        text-shadow: 2px 2px 4px #000000;
        text-decoration: underline;
    }
    p {
        color: white; /*esto me da color al párrafo*/
        text-align: center;
        background-color: red;
        font-size: 20px;
        font-family: "Arial Black", Gadget, sans-serif;
        text-shadow: 2px 2px 4px #000000;
    }

    button {

        display: block; /*  Importante para que los márgenes funcionen correctamente */
        margin-left: auto;
        margin-right: auto;
        color: white;
        text-align: center;
        background-color: green;
        font-size: 50px;
        font-family: "Arial Black", Gadget, sans-serif;
        text-shadow: 2px 2px 4px #000000;
    }
}